# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
artifacts/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.sln.iml

# OS-specific
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# NuGet
*.nupkg
*.snupkg
.packages/
.nuget/

# Cache
*.cache
*.log

# Temporary
~$*
*.tmp

# Publish output
publish/
out/

# Resharper / Analyzer
_ReSharper*/
*.DotSettings.user

# Coverage / profiling
coverage*
*.coverage
*.coveragexml
*.dotCover
BenchmarkDotNet.Artifacts/

# Others
*.sqlite
*.db
*.db-shm
*.db-wal

# Docs or external libs you don't want в репу
docs/jkorf/
